*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-img-top{
    width: 30%;
   
}
#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    
    
}
#card-medio{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid grey;
    border-right:  1px solid grey;
    border-top: none;
    border-bottom: none;
}
#card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
#card-text{
    text-align: center;
    

}
a{
    text-decoration-line: none;
    margin-top: 1;
}
#tablaM{
    
    color: aliceblue;

    
}
#tablaM td{
    font-size: 12px;
}
#tablaM th{
    font-size: 16px;

}
#nav_m{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}
#nav_m a{
  font-size: 10px;  
   
}
